
.header{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo{
    border-radius: 50%;
}
.nav ul{
    text-decoration: none;
    list-style-type: none;
    background-color: white;
    padding-left: 200px;
    height:30px;
}
.nav ul li{
        display: inline;
        padding: 40px;
}
.nav ul a{
    color:black;
    font-family:Chivo;
    font-size: 20px;
}
.nav ul a:hover{
    color:#CA6C08;
}
.nav a.active{
    background-color:black;
    color:white;
}
.backg{
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    height:600px;
}
.backg h1{
    color:white;
    font-family:Chivo;
    font-size: 50px;
    padding-top: 200px;
    padding-left:50px; 
}
.backg h5{
    color:white;
    font-family:Chivo;
    font-size: 20px;
    padding-left:50px; 
}


.backg #or a{
    color: #CA6C08;
    font-family:Chivo;
    font-size: 50px; 
    border-radius:20px;
    background-color:black;
    margin-right:800px;
    margin-left: 50px;
    padding-right: 30px;
    padding-left:50px;
    /* padding-bottom: 50px; */

}
#about{
    font-family: Chevo;
    font-size: 30PX;
    color:black;
    text-align: center;
    padding: 30px;
    margin:30px;
    text-decoration-style: solid bold;
}
#abimge1 {
    background-image: url("https://images.wallpaperscraft.com/image/pizza_mushrooms_pepper_oil_garlic_10281_1280x720.jpg");
    width:500px;
    height: 300px;
    border-radius:50%;
}
#abimge2{
    background-image: url("https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    width:500px;
    height: 300px;
    border-radius:50%;
    
}
#men{
    text-align: center;
    font-family: Chevo;
    margin: 50px;
}
.pizza{
    padding:20px
}
.pizzab{
    padding:20px;
}
.footer{
    background-color:black;
    color:white;
    height:100px;
}
.footer p{
    text-align: center;
    padding-top:20px;
}
.icon{
   text-align: center;
}